@model List<ProductResultDTO>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeader")

<body class="sub_page">

    @await Component.InvokeAsync("_UILayoutNavbar")
    </div> <!-- Bu div'i silme -->

    <section class="food_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Menümüz
                </h2>
            </div>

            <ul class="filters_menu">
                <li class="active" data-filter="*">Tüm Ürünler</li>
                <li data-filter=".Hamburger">Hamburger</li>
                <li data-filter=".Pizza">Pizza</li>
                <li data-filter=".Makarna">Makarna</li>
                <li data-filter=".Kızartma">Kızarmalar</li>
                <li data-filter=".Salata">Salatalar</li>
                <li data-filter=".İçecek">İçecekler</li>
                <li data-filter=".Tatlı">Tatlılar</li>
            </ul>

            <div class="filters-content">
                <div class="row grid">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-lg-4 all @item.CategoryName">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="@item.ImageUrl" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            @item.Name
                                        </h5>
                                        <p>
                                            @item.Description
                                        </p>
                                        <div class="options">
                                            <h6>
                                                @item.Price ₺
                                            </h6>
                                            <a href="#" onclick="showproductid(@item.ProductId)" class="cart_link">
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("_UILayoutFooter")

    @await Component.InvokeAsync("_UILayoutScripts")

    <script>
        function showproductid(value)
        {
            var id = value;
            $.ajax(
                {
                type: "POST",
                URL:"/Menu/AddBasket/",
                data: { ProductId: id },
                contentType: 'json',
                success: function ()
                {
                    Swal.fire(
                    {
                    title: "Ürün",
                    text: "Seçtiğiniz Ürün'ün ID Değeri: " + id,
                    icon: "success"
                    });
                }
                });
        }
    </script>

</body>

</html>
