@model List<BasketResultWithProductNamesDto>
@{
    Layout = null;
    int count = 0;
    decimal basketPrice = Model.Sum(x => x.Price);
    decimal basketTaxAmount = (basketPrice / 100) * 1;
    decimal basketTotalPrice = basketPrice + basketTaxAmount;
}

<!DOCTYPE html>
<html>
<body class="sub_page">

    @await Component.InvokeAsync("_UILayoutHeader")

    @await Component.InvokeAsync("_UILayoutNavbar")
    </div>

    <br />
    <div class="container-fluid py-4">

        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive">
                <table class="table table-bordered table-hover text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Masa Adı</th>
                            <th>Ürün Adı</th>
                            <th>Adet</th>
                            <th>Fiyat</th>
                            <th>Toplam</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        @if (Model?.Any() == true)
                        {
                            foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.TableName</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.Count</td>
                                    <td>@string.Format("{0:C}", item.Price)</td>
                                    <td>@string.Format("{0:C}", item.TotalPrice)</td>
                                    <td>
                                        <button data-basketid="@item.BasketId"
                                                id="btndelete"
                                                class="btn btn-sm btn-danger btn-delete"
                                                title="Bu ürünü sepetten sil">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center text-muted"><i>Sepetiniz boş.</i></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form>
                    <div class="input-group">
                        <input type="text" id="salecode" class="form-control p-4" placeholder="İndirim Kodunuz" />
                        <div>
                            <a style="height:48px;padding-top:11px;margin-left:5px;" class="btn btn-primary text-white" id="btnsalecode">Kodu Uygula</a>
                        </div>
                    </div>
                </form>
                <br />
                <h5 class="section-title position-relative text-uppercase text-primary mb-3"><span class="pr-3">Sepet Özeti</span></h5>
                <div class="p-30 mb-5">
                    <div class="border-bottom pb-2" id="container">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Toplam Tutar</h6>
                            <h6><span id="totalprice">@basketPrice</span> ₺</h6>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h6 class="font-weight-medium">KDV Oranı</h6>
                            <h6 id="kdv" class="font-weight-medium">@basketTaxAmount ₺</h6>
                        </div>
                        <br />
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Toplam Tutar</h5>
                            <h5><span id="totalpricewithkdv">@basketTotalPrice</span> ₺</h5>
                        </div>
                        <br />
                        <button id="btnchecked" class="btn btn-block btn-primary font-weight-bold my-3">Siparişi Tamamla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @await Component.InvokeAsync("_UILayoutFooter")
    @await Component.InvokeAsync("_UILayoutScripts")

</body>
</html>
